/* Reset */

* {
    box-sizing: border-box;
}

ul, h2 {
    margin: 0;
}

ul {
    padding: 0;
}

/* General Styles */

body {
    background-color: #F2F2F2;    
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 90%;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #9e9e9e;
}

a:hover, a:active {
    background-color: #9e9e9e;
    color: #FFF;
}

p {
    text-align: justify;
}

/* Specific Styles */

nav {
    background-color: #444;
    margin-bottom: 2em;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 0.7em 2em;
    color: white !important;
    font-weight: bold;
}

nav a:hover {
    background-color: #939393;
}

main {
    overflow: hidden;
}

main > div {
    display: flex;
    justify-content: space-between;
}

main > div > section {
    width: 70%;
    overflow-y: auto;
}

main > div > aside {
    width: 28%;
    margin-bottom: 1em;
    padding-left: 2em !important;
}


main > div > aside > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main aside ul {
    margin-top: 1em;
}

main:nth-child(2) {
    clear: both;
}

section {
    margin-bottom: 1em;
}

section ul {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 3em;
}

footer {
    clear: both;
    background-color: #444;
    padding: 0.5em 3em;
    color: white;
    margin-top: 1em;
    margin-bottom: 2em;
}

#profile {
    display: flex;
}

#profile ul {
    flex: 1;
}

.social-media:first-of-type {
    margin-top: 1em;
}

/* Classes */

.box {
    background-color: white;
    padding: 2% 5%; /* tb lr */
}

ul.not-list {
    list-style: none;
    margin-left: 1.5em;
}

.active {
    background-color: #939393;
}

.social-media img {
    width: 3em;
    height: 3em;
    margin-left: 0.5em;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to   { opacity: 1; }
}

.social-media a:hover {
    background-color: transparent;
    animation: fadein 1.5s;
}

/* Responsive */

@media only screen and (min-width: 150px) and (max-width: 640px)
{
    body {
        width: 90%;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        width: 100%;
    }

    main > div {
        display: block;
    }

    main > div > section {
        width: 100%;
    }

    main > div > aside {
        width: 100%;
        padding-left: 5% !important;
    }

    main > div > aside > div {
        display: block;
    }

    .social-media {
        display: inline-block;
    }

    #profile {
        display: block;
    }

    #profile img {
        display:block;
        margin:auto;
    }
}
